  /*==========================================================================

    Grid CSS

    For mobile device grid CSS see "grid-mobile-devices.less"

    ==========================================================================


	CONTENTS:

	1 - Setup      
	2 - Mixins            
	3 - Containers / Rows                 
	4 - Columns            
	5 - Nesting             
	6 - Grid Overlay           
	7 - Mosaic             
	8 - Debug Colours                


    ==========================================================================
    1 - Setup                                        
    ========================================================================== */
/*	==========================================================================
    2 - Mixins                                           
    ========================================================================== */
/*	==========================================================================
    3 - Containers / Rows                                           
    ========================================================================== */
/*  ==========================================================================
    4 - Columns                                        
    ========================================================================== */
/*  ==========================================================================
    5 - Nesting                                        
    ========================================================================== */
/*	==========================================================================
	6 - Grid Overlay                                           
	========================================================================== */
/*  ==========================================================================
    7 - Mosaic                               
    ========================================================================== */
	/* .mosaic {
		margin: 0;
		margin-left: -$columnGutterPixels !important;
		margin-right: -$columnGutterPixels !important;
		padding: 0;

		.block {
			position: relative;
			float: left;
			display: inline;
			margin: 0 0 $mosaicGutter;
			margin-left: $columnGutterPixels !important;
			margin-right: $columnGutterPixels !important;
			padding: 0;
			-moz-box-sizing: border-box;
			box-sizing: border-box;

			&.block-size {
				.columnWidth( 4 );
			}

			&.size-1x1 {
				.columnWidth( 4 );
				.mosaicHeight( 1 );
			}

			&.size-2x1 {
				.columnWidth( 8 );
				.mosaicHeight( 1 );
			}

			&.size-3x1 {
				.columnWidth( 12 );
				.mosaicHeight( 1 );
			}

			&.size-1x2 {
				.columnWidth( 4 );
				.mosaicHeight( 2 );
			}

			&.size-2x2 {
				.columnWidth( 8 );
				.mosaicHeight( 2 );
			}

			&.size-3x2 {
				.columnWidth( 12 );
				.mosaicHeight( 2 );
			}

		}

	} */
/*  ==========================================================================
    8 - Create Grid                                   
    ========================================================================== */
/*  ==========================================================================
    9 - Debug Colours                                        
    ========================================================================== */
/* .container{
	background-color: #9999cc !important;
	box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
.row{
	background-color: #66cc99 !important;
	box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
.column, .columns{
	background-color: #6699ff !important;
	box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
.panel{
	background-color: #ffcc66 !important;
	box-shadow: 0 0 8px rgba(0,0,0,0.2);
} */
