/*	==================================================

    Grid SCSS

    ==================================================

	CONTENTS:

	-> Variables
	
	-> Mixins
	-->> Container
	-->> Row
	-->> Column
	--->>> Relative Columns
	--->>> Constant Columns

	-> Build Grid

	-> Debug Colours
              
    ==================================================
    -> Variables
    ================================================== */
/*	==================================================
    -> Mixins                                     
    ================================================== */
/*	==================================================
    -->> Container                                     
    ================================================== */
/*	==================================================
    -->> Row                                       
    ================================================== */
/*	==================================================
    -->> Columns                                       
    ================================================== */
/*  ==================================================
    -> Build Grid
    ================================================== */
/*  ==================================================
    -> Debug Colours
    ================================================== */
	/*
	
	.container {
		background-color: #9999cc !important;
		box-shadow: 0 0 8px rgba(0,0,0,0.2);
	}

	.row {
		background-color: #66cc99 !important;
		box-shadow: 0 0 8px rgba(0,0,0,0.2);
	}

	.column, .columns, .col, .cols {

		background-color: #6699ff !important;
		box-shadow: 0 0 8px rgba(0,0,0,0.2);

		&.nest {

			background-color: #5588ee !important;

			.columns, .column, .col, .cols {
				.panel {
					background-color: #ff66cc !important;
				}
			}

		}
	}

	.panel{
		width: 100%;
		background-color: #ffcc66 !important;
		box-shadow: 0 0 8px rgba(0,0,0,0.2);
	}

	*/
